body {
  /*background-color: #9e0039*/
  /*background-color: #750b32;*/
  background-image: url('/css/back_color.gif');
}

li {
  display: inline;
  padding: 7px;
}

#contains {
  width: 70%;
  height: 100%;
  background-image: url('/css/back_color_y.gif');
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  /*box-shadow: 10px 10px 5px #cccccc;*/
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-image: url('/css/pike-logo-yellow.gif');
  background-repeat:no-repeat;
  background-position:center; 
  height: 200px;
  /*border-bottom: solid 1px #CCCCCC;*/
  border-bottom: solid 1px #000000;
  text-align: center;
}

#wrapper {
  width: 100%;
 /* height: 1000px;*/
}

#nav {
  float: left;
  border-right: solid 1px #000000;
  padding-top: 5px;
  padding-right: 7px;
  padding-left: 5px;
  /*margin-bottom: 5px;*/
}

#content {
  float: left;
  padding: 5px;
}

#footer {
  /*position: relative;*/
  clear: both;
  padding-top: 5px;
  border-top: solid 1px #000000; /*#CCCCCC;*/
  text-align: center;
}
  /*red i think 9e0039*/
  /*color gold is ebe9b5*/
